body {
    background-color: rgb(7, 9, 34);
    color: #ffffff;
    width: 100%;
    text-align: center;
}
button {
    padding: 5px 20px;
    background-color: #00a2ff;
    border-style: none;
}
input {
    height: 25px;
}
